[submodule "themes/beautiful_hugo"]
	path = themes/beautiful_hugo
	url = git@github.com:shrenikm/beautifulhugo.git
[submodule "public"]
	path = public
	url = git@github.com:shrenikm/shrenikm.github.io.git
